@import "../../mixins.scss";

.VehicleList {
  width: 100%;


  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding-inline-start: 0;

    >li {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  @include tablet {

    &__grid {
      grid-template-columns: repeat(2, 1fr);

    }
  }

  @include desktop {

    &__grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}