* {
  box-sizing: border-box;
}

// I dont have access to the correct font-family, so I will use a similar one
html,
body {
  color: #4a4f54;
  font-family: "AvenirNext", "arial", "helvetica", sans-serif;
  height: 100%;
  letter-spacing: .02rem;
  line-height: 1.5rem;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}


.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;

}

img {
  height: auto;
  max-width: 100%;
}

